<div>
  <h2 class="text-white">Edit Your Profile </h2>
  <hr>
  <div class="col-md-4 text-white">
    <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="saveProfile(profileForm.value)" novalidate>
      <div class="form-group" [ngClass]="{'error': !validateFirstName()}">
        <label for="firstName">First Name:</label>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a letter</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
      </div>
      <div class="form-group" [ngClass]="{'error': !validateLastName()}">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!validateLastName()">Required</em>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>

      <button type="submit" class="btn btn-primary mr-3 w-25">Save</button>
      <button type="button" class="btn btn-default w-25" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-warning w-25 float-right" (click)="logout()">logout</button>
    </form>
  </div>
</div>